<% @title = current_resource.human_name %>
<h1><%= @title %></h1>
<% if respond_to? :will_paginate %>
  <%= will_paginate @records, :url => current_resource.index_path(:page => '') %>
<% end %>
<div class="columns">
  <div class="row">
    <div class="column left_column">
    <% if @records.empty? %>
      <p>Sorry, but there is no records in <%= current_resource.human_name %></p>
    <% else %>
      <table class="list_table">
        <thead>
          <tr>
          <% index_fields.each do |field| -%>
            <th><%= render_head field %></th>
          <% end -%>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @records.each do |record| -%>
          <tr>
          <% index_fields.each do |field| -%>
            <td><%= render_field record, field %></td>
          <% end -%>
            <td class="actions">
              <%= link_to 'show', current_resource.path(record), :class => 'show_entry' if controller.show_fields || resource_children.present? %>
              <%= link_to 'edit', current_resource.edit_path(record), :class => 'edit_entry' if controller.update_fields || controller.form_fields %>
              <%= link_to 'destroy', current_resource.path(record), :confirm => "Are you sure?", :method => :delete, :class => 'remove_entry' if current_config.destroy %>
              <% current_resource.children(:post_id => record.id).each do |child| %>
                <% if child.plural? %>
                  <p><%= link_to "#{child.human_name}(#{child.collection.size})", child.index_path %></p>
                <% else %>
                  <p><%= link_to "#{child.member ? 'Edit' : 'Add'} #{child.human_name}", child.index_path %></p>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end -%>
        </tbody>
      </table>
    <% end %>
    </div>
    <div class="column right_column panel">
      <dl>
        <dt>Search</dt>
        <dd>
        <%= form_tag current_resource.index_path, {:method => :get} do %>
          <%= text_field_tag :query, resource_session[:query] %>
          <%= submit_tag 'Search' %>
          <% if resource_session[:query].present? %>
            <%= link_to 'clear', current_resource.index_path(:query => '') %>
          <% end %>
        <% end %>
        </dd>
        <% index_fields.boolean.each do |field| %>
          <dt><%= field.label %></dt>
          <dd>
            <ul>
              <% [['All', nil], ['Yes', '1'], ['No', '0'], ['Not set', 'nil']].each do |option| %>
                <li><%= link_to_unless resource_session[:boolean][field.query_column] == option[1], option[0], current_resource.index_path(:boolean => { field.query_column => option[1]}) %></li>
              <% end %>
            </ul>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
<% if respond_to? :will_paginate %>
  <%= will_paginate @records, :url => current_resource.index_path(:page => '') %>
<% end %>

<% content_for :additional_navigation do %>
  <ul class="buttons">
    <% current_resource.ancestors.each do |resource| %>
      <%= link_to resource.plural? ? resource.human_name : resource.member.to_title, resource.index_path %>
      <%= link_to resource.member.to_title, resource.path unless resource.plural? %>
    <% end %>
    <%= link_to current_resource.plural? ? current_resource.human_name : current_resource.member.to_title, current_resource.index_path %>
  </ul>
<% end %>
