<%= component_fields_for @record do |f| %>
  <div class="label">
    <%= f.label field.human %>
    <div class="field_error">
      <%= f.object.errors[field.name.to_sym].first %>
    </div>
  </div>
  <% @locales.each do |locale| %>
    <div class="locale">
      <%= locale %>
    </div>
    <div class="locale_input">
      <%= f.fields_for field.to_s do |l| %>
        <%= l.text_field locale, :value => @values[locale.to_s] %>
      <% end %>
    </div>
  <% end %>
<% end %>
