<ul>
<% primary_key = @field.reflection.primary_key_column.name.to_sym %>
<% records.each do |record| %>
  <li data-id="<%= record[primary_key] %>">
    <div class="title"><strong><%= record[primary_key] %></strong> — <%= record.to_title %></div>
    <div class="description">
      <% @field.association_columns.searchable.each do |column| %>
        <div><strong><%= column.human %>:</strong> <%= render_field column, record %></div>
      <% end %>
    </div>
  </li>
<% end %>
</ul>
