<div id="associated_<%= field %>">
  <% if one %>
    <%= link_to_if_path one.to_title, :target => '_blank' do resource_path(one) end %>
    <%= link_to_function t(:clear_associated), "clear_associated_#{field}()" %>
    <% javascript_tag do %>
      function clear_associated_<%= field %>() {
        $('associated_<%= field %>').replace("<%= escape_javascript render(:partial => "terbium/association/one", :object => nil, :locals => {:field => field}) %>");
        Event.addBehavior.reload();
      }
    <% end %>
    <%= hidden_field_tag "#{model_name}[#{field.association_key}]", one.id, :id => "associated_#{field}_#{one.id}" %>
  <% else %>
    <%= link_to t(:choose_associated), '#', :terbium_popup => resource_path(record, "associated_#{field}_choosing") %>
    <%= hidden_field_tag "#{model_name}[#{field.association_key}]" %>
  <% end %>
</div>
