<%= component_fields_for @record do |f| %>
  <div class="label">
    <%= f.label field %>
    <div class="field_error">
      <p><%= @record.errors[field.reflection.accessor.to_sym].first %></p>
      <p><%= @record.errors[field.name.to_sym].first %></p>
    </div>
  </div>
  <%= f.hidden_field field.reflection.accessor, field.input_options %>
<% end %>
