<% content_for :header do %>
  <ul class="namespaces">
    <% puffer_namespaces_navigation do |title, path, current| %>
      <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title.to_s.humanize, path %></li>
    <% end %>
  </ul>
  <ul class="navigation">
    <% puffer_groups_navigation do |title, path, current| %>
      <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title.to_s.humanize, path %></li>
    <% end %>
  </ul>
<% end %>

<% content_for :content do %>
  <div class="columns">
    <div class="column sidebar">
      <div class="padder">
        <ul class="navigation"> 
          <% puffer_resources_navigation do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>>
              <%= link_to title, path %>
              <% if current %>
                <div class="additional">
                  <dl>
                    <dt>Links</dt>
                    <dd>
                      <p>
                        <%= link_to t(:list, :target => resource.human), resource.collection_path %>
                        <%= link_to t(:add, :target => resource.human), resource.new_path %>
                      </p>
                      <p>
                        <% _collections.each do |collection| %>
                          <%= link_to collection.label, resource.collection_path(:action => collection.action) if collection.display? && [:match, :get].include?(collection.method) %>
                        <% end %>
                      </p>
                    </dd>

                    <%= form_for puffer_filters, :url => resource.collection_path, :method => :get do |f| %>
                      <dt><%= f.label :puffer_search %></dt>
                      <dd><%= f.text_field :puffer_search %></dd>

                      <% index_fields.columns.each do |field| %>
                        <%= field.render controller, :filter, :form => f %>
                      <% end %>

                      <dd><%= submit_tag 'Search', :name => nil %></dd>
                    <% end %>

                  </dl>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= yield :sidebar %>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/puffer_base' %>
