<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, 'Puffer'].compact.join(' - ') %></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "puffer/application" %>
    <%= javascript_include_tag "puffer/application" %>
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
  </head>
  <body>
    <div class="body">
      <div class="header">
        <div class="logo">
          <%= link_to t('puffer.logo'), puffer_root_path %>
        </div>
        <ul class="namespaces">
          <% puffer_namespaces do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
          <% end %>
        </ul>
        <ul class="navigation">
          <% puffer_navigation do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
          <% end %>
        </ul>
        <div class="logout">
          <%= link_to t('puffer.logout'), puffer_session_url, :method => :delete %>
        </div>
      </div>
      <div class="columns">
        <div class="column sidebar">
          <div class="padder">
            <ul class="navigation">
              <% sidebar_puffer_navigation do |title, path, current| %>
                <li<%= raw(current ? ' class="selected"' : '') %>>
                  <%= link_to title, path %>
                  <% if current %>
                    <div class="additional">
                      <dl>
                        <dt>Links</dt>
                        <dd>
                          <%= link_to t(:list, :target => resource.human), resource.collection_path %>
                          <%= link_to t(:add, :target => resource.human), resource.new_path %>
                        </dd>
                        <dt>Search</dt>
                        <dd>
                          <%= form_tag resource.collection_path, {:method => :get} do %>
                            <%= text_field_tag :search, params[:search] %>
                            <%= submit_tag 'Search' %>

                            <% if false %>
                            <% if resource_session[:search].present? %>
                              <%= link_to 'clear', resource.collection_path(:search => '') %>
                            <% end %>
                            <% end %>
                          <% end %>
                        </dd>
                      </dl>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= yield :sidebar %>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
