<!DOCTYPE html>
<html>
  <head>
    <title><%= [@title, 'Puffer'].compact.join(' - ') %></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "puffer/application" %>
    <%= javascript_include_tag "puffer/application" %>
    <%= yield :stylesheets %>
    <%= yield :javascripts %>
  </head>
  <body>
    <div class="body">
      <div class="header">
        <div class="logo">
          <%= link_to t('puffer.logo'), puffer_root_path %>
        </div>
        <ul class="namespaces">
          <% puffer_namespaces do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
          <% end %>
        </ul>
        <ul class="navigation">
          <% puffer_navigation do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
          <% end %>
        </ul>
        <div class="logout">
          <%= link_to t('puffer.logout'), puffer_session_url, :method => :delete %>
        </div>
      </div>
      <div class="columns">
        <div class="column sidebar">
          <div class="padder">
            <ul class="navigation">
              <% sidebar_puffer_navigation do |title, path, current| %>
                <li<%= raw(current ? ' class="selected"' : '') %>>
                  <%= link_to title, path %>
                  <% if current && (additional = render_cell('puffer/base', 'additional')).present? %>
                    <div class="additional">
                      <%= additional %>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <%= yield :sidebar %>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
