<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= [@title, 'Puffer'].compact.join(' - ') %></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag '/puffer/stylesheets/reset' %>
    <%= stylesheet_link_tag '/puffer/stylesheets/puffer' %>
    <%= yield :stylesheet %>
    <%= yield :javascript %>
  </head>
  <body>
    <div class="body">
      <div class="header">
        <div class="logo">
          <%= link_to 'Puffer', admin_root_path %>
        </div>
        <ul class="navigation">
          <% puffer_navigation do |title, path, current| %>
            <li<%= raw(current ? ' class="selected"' : '') %>><%= link_to title, path %></li>
          <% end %>
        </ul>
        <div class="logout">
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
